<% layout("layouts/boilerplate") %>

    <body>
        <div class="row mt-3 offset-2">
            <div class="col-10 offset-1">
                <h1><%= list.title %></h1>
            </div>
            <div class="card col-8 offset-1 show-card">
                <img class="card-img-top-list show-img" src="<%= list.image %>" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                       <!-- <b> <%= list.title %></b> <br> -->
                            <%= list.description %> <br><br>
                                <b><span style="color: #222222;">&#8377; <%= list.price.toLocaleString("en-IN") %></span></b> <br>
                                    <%= list.location %>,
                                        <%= list.country %> <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="btns mt-3">
            <a href="/listing/<%= list._id %>/edit" class="btn btn-dark col-1 offset-3 add-btn">Edit</a>
            <form id="deleteForm" action="/listing/<%= list._id %>?_method=DELETE" method="POST"
                class="d-inline">
                <button type="button" class="btn btn-dark offset-4"
                    onclick="confirmDelete()">Delete</button>
            </form>
        </div>


        <script>
            function confirmDelete() {
                if (confirm("Are you sure you want to delete this listing?")) {
                    document.getElementById("deleteForm").submit();
                }
            }
        </script>
    </body>